/* height */
.h_15{
    height: 15px;
  }
  .h_20{
    height: 20px;
  }
  .h_40{
    height: 40px;  
  }
  .h_45{
    height: 45px;  
  }
  .h_50{
    height: 50px;
  }
  .h_85{
    height: 85px;
  }
  .h_90{
    height: 90px;
  }
  .h_100{
    height: 100px;
  }
  .h_150{
    height: 150px;
  }
  /* width */
  .w_24{
    width: 24%;
  }
  .w_28{
    width: 28%;
  }
  .w_78{
    width: 78%;
  }